* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color for page */

body {
    background-color: #d9dcd6;
}

/* Set the font, color, background color and amount of space around the heading */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Set style for company name on top of page */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Change color for S, E and O in company name on top of page */

.header h1 .seo {
    color: #d9dcd6;
}

/* Set style for services list on top right of page */

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* set sytle for items on services list on top right of page */

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set style for links */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Style for paragraphs */

p {
    font-size: 16px;
}

/* Style for top background image */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Arrangement of objects on page */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style fro list of benefits on lower-right-hand side */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-items h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit-items img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Style for list of services on lower left-hand side */

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style for footer */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
